/*DEFINIÇÃO DE FONTE*/

@font-face {
    font-family: "Unbounded";
    src: url(../Fontes/Unbounded-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url(../Fontes/Poppins-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


/*RESET*/
* {
    margin: 0;
    padding: 0;
}

/*ESTILO DESKTOP*/
body{
    background-color: #0E1014;
}

header img{
    display:block;
    margin: 75px 0 0 360px;
}

h1{
    font-size: 64px;
    font-family: "Unbounded", sans-serif;
    text-align: center;
}

p{
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    margin: 24px auto 0;
    text-align: center;

}

h1, p, a{
    color:#FFFFFF
}

h1 span{
    color: #9747FF;
}

a {
    font-family: "poppins", sans-serif;
    font-size: 24px;
    color: #FFFFFF ;
    text-align: center;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    line-height: 66px; 
    border-radius: 36px;
    margin: 40px auto;   
}

a:hover{
        background-color: #8233E8;


}

section img{
    display:block;
    width: 792px;
    height: 446;
    margin: 0 auto;

}

/*ESTILO TABLET*/
@media(max-width: 768px){
    header img{
        margin: 65px 0 0 60px;
    }

    p {
        width: 648px;
    }

}

@media(max-width:375px){
    header img{
        margin: 32px 0 0 16px
    }
    h1{
        font-size: 40px;
    }
    p{
        font-size: 20px;
        width: 340px;
   }
   a{
    font-size: 20px;
    width: 251px;
   }
   section img{
    width: 340px;
    height: 230px;
   }


}